<%= form_for(@gh_push) do |f| %>
  <% if @gh_push.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gh_push.errors.count, "error") %> prohibited this gh_push from being saved:</h2>

      <ul>
      <% @gh_push.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.text_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :payload %><br />
    <%= f.text_area :payload %>
  </div>
  <div class="field">
    <%= f.label :ref %><br />
    <%= f.text_field :ref %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
