<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hostname %><br />
    <%= f.text_field :hostname %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select :type, Server.select_options %>
  </div>
  <div class="field">
    <%= f.label :port %><br />
    <%= f.number_field :port, :min => 21, :max => 22, :step => 1 %>
  </div>
  <div class="field">
    <%= f.label :default_path %><br />
    <%= f.text_field :default_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
