<p id="notice"><%= notice %></p>

<p>
  <b>Hostname:</b>
  <%= @server.hostname %>
</p>

<p>
  <b>Username:</b>
  <%= @server.username %>
</p>

<p>
  <b>Password:</b>
  <%= "*" * @server.password.length %>
</p>

<p>
  <b>Type:</b>
  <%= @server.class.select_name %>
</p>

<p>
  <b>Port:</b>
  <%= @server.port %>
</p>

<p>
  <b>Default path:</b>
  <%= @server.default_path %>
</p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
