<h1>Listing sites</h1>

<table>
  <tr>
    <th>Domain</th>
    <th>Staging server</th>
    <th>Production server</th>
    <th>Staging path</th>
    <th>Production path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.domain %></td>
    <td><%= site.staging_server.hostname %></td>
    <td><%= site.production_server.hostname %></td>
    <td><%= site.staging_path %></td>
    <td><%= site.production_path %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
