<p id="notice"><%= notice %></p>

<p>
  <b>Domain:</b>
  <%= @site.domain %>
</p>

<p>
  <b>Staging server:</b>
  <%= link_to @site.staging_server.hostname, @site.staging_server %>
</p>

<p>
  <b>Production server:</b>
  <%= link_to @site.production_server.hostname, @site.production_server %>
</p>

<p>
  <b>Staging path:</b>
  <%= @site.staging_server.default_path + @site.staging_path %>
</p>

<p>
  <b>Production path:</b>
  <%= @site.production_server.default_path + @site.production_path %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
